<!DOCTYPE html>
<html>
<head>
    <title>Faculty</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>Our Faculty</h1>

<div class="faculty-container">

    <div class="faculty-card">
        <img src="https://christuniversity.in/uploads/departmentactivities/medium/1341890272_2025-07-10_05-22-18.webp">
        <h3>Prerana Srimaal</h3>
    </div>

    <div class="faculty-card">
        <img src="https://christuniversity.in/uploads/faculty-image/E4752.jpg">
        <h3>Dr Pricilla Namrata Rozario</h3>
    </div>

    <div class="faculty-card">
        <img src="https://christuniversity.in/uploads/faculty-image/E7027.jpg">
        <h3>Dr Namrata</h3>
    </div>

</div>

</body>
</html>