<h1>Our Placements</h1>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="placement-container">

<div class="card">
    <img src="https://christuniversity.in/uploads/testimonial/medium/1036302565_2025-11-11_03-04-03.jpg">
    <h3>Pranati</h3>
    <p>Placed at Google</p>
</div>

<div class="card">
    <img src="https://christuniversity.in/uploads/testimonial/medium/915455267_2023-11-16_05-05-39.jpg">
    <h3>Saranya</h3>
    <p>Placed at Deloitte</p>
</div>

<div class="card">
    <img src="https://christuniversity.in/uploads/testimonial/medium/1089840151_2025-11-11_03-05-26.jpeg"s>
    <h3>sota</h3>
    <p>Placed at Deloitte</p>
</div>

</div>

<a href="/">Back</a>